---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';
import Hero from '../components/Hero.astro';

// Page section components
import Skills from '../components/Skills.astro';
---

<BaseLayout title="About | Steven Chu" description="About Steven Chu">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About Steven"
				tagline=""
			>

			</Hero>

			<section class="gap-20 lg:gap-40">
				<h2 class="section-title">Background</h2>
				<div class="content">
										
					<h5 style="max-width:54ch;font-weight:300;line-height:1.35;margin-bottom:.5em;">
						I’m a Product Designer excited about creative tools, education, and e-commerce. 
						Since 2015, I’ve worked with startups, not-for-profits, and Fortune 500s to build the right products the first time around; leveraging experience design, research, prototyping, and data-driven testing. 
						<!--I've worked with startups, not-for-profits, and Fortune 500s to help make their digital products easier to use, communicate clear narratives, and streamline workflow processes.
						I'm passionate about projects that help people explore their creativity and develop new skillsets.-->
					</h5>

					<!--img
					width="800"
					height="450"
					src="/assets/about-me.jpg"
					alt="Steven Chu teaching kayaking"
				/-->

					<br>
	
					<p>Currently, I lead designOps and brand direction at Motif Photos. Previously, I solved internal workflow problems for Uniqlo, designed a women's entrepreneurship bootcamp's free user experience at Marie Forleo, and launched Shopify ecommerce stores for small businesses with my agency background in branding, marketing, and front-end development.
					</p>
					<p>	
						In my design approach, I strive for inclusive and equitable solutions, early and frequent cross-functional collaboration with my teams, and data-backed decision-making. 
					</p>
					<!--p>  combined with my background in branding, marketing, and e-commerce . 
						
						I'm currently Design Lead at Motif Photos–– where I lead design on brand, web, and marketing.
						Previously, I spent time at Uniqlo, Marie Forleo, designing and coding e-commerce stores, and freelancing at agencies.
						— and am based in Brooklyn, NY. (a mac/iOS photo bookmaking app in 32 countries and #13 in the App Store)
						Working together, I'll carry the design process end to end, from 0 to 1 and beyond. 
					</p-->

					<p>I'm an out and proud LGBTQ+ professional. 
					I also love the outdoors, documentary photography, dance, and am a certified instructor for kayaking and pole sports.</p>
					<img
					width="800"
					height="450"
					src="/assets/about-me.jpg"
					alt="Steven Chu teaching kayaking"
				><br><br>	
					<div class="ctas">
						<CallToAction href="/resume" style="inverse small">
							Resume
						</CallToAction>
						<CallToAction href="mailto:work@stevenchustudio.com?subject=Web%20Inquiry" style="small">
							Say Hello 
							<Icon icon="paper-plane-tilt" size="1.2em" />
						</CallToAction>
					</div>
					<br>
					
				</div>
			</section>

			<section>
				<h2 class="section-title">Past Clients</h2>
				<div class="content cols-3">
                    <div>
						<strong>Agencies</strong><br>
						Alpaca VC<br>
						August Jackson<br>
						BarkerNYC<br>
						Deutsch<br>
						DraftFCB<br>
						Jack Morton<br>
						Ketchum Change (Daggerwing Group)<br>
						Kraftworks NYC<br>
						Meredith Digital<br>
						Momentum Worldwide<br>
						The Lab NYC<br>
					</div>
					<div>
						<strong>Consumer</strong><br>
						Disney Vacation Club<br>
						IKEA<br>
						Kiehl's<br>
						Olympus<br>
						Prevacid<br>
						Spectrum<br>
						State Farm<br>
						UNIQLO<br>
						USAA<br>
						Verizon<br>
					</div>
					<div>
						<strong>Arts & Design</strong><br>
						Brian Kish Inc.<br>
						The Archers Design Group<br>
						The Temenos Foundation<br>
						Taffera Fine Building & Finishes<br>
					</div>
					<div>
						<strong>Music</strong><br>
						LadyFag's LadyLand Festival<br>
						Avant Gardner<br>
						ebb+flow music<br>
						United Palace<br>
						FNV (Fruits & Vegetables)<br>
					</div>
					<div>
						<strong>E-Commerce</strong><br>
						SokoGlam Beauty<br>
						Marissa Webb<br>
						MONSE<br>
						Voutsa Wallpaper<br>
						Heather Huey Millinery<br>
						Virani Jewelers<br>
					</div>
					<div>
						<strong>Lifestyle</strong><br>
						Jeffrey Fashion Cares<br>
						Cafe Cluny<br>
						Cafe Luxembourg<br>
						The Odeon Restaurant<br>
						Marie Forleo<br>
						Sotheby's<br>
					</div>
					<div>
						<strong>Startups</strong><br>
						Motif Photos<br>
						Life School<br>
						GrowthFountain Capital<br>
						InstaTechie<br>
						Morgan & Morgan<br>
					</div>
					<div>
						<strong>Publications</strong><br>
						The Economist<br>
						Fitness Magazine<br>
						Food & Wine Magazine<br>
						More Magazine<br>
						Pin-UP Architectural Digest<br>
						The Wall Street Journal<br>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	h5 {color: var(--gray-0);}

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.ctas {
		margin-top: 1rem;
	}

	.cols-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 2em;
		font-size: 1rem;
    }

	@media (min-width: 50em) {
		.ctas {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}
	}

	.i {
		font-style: italic;
	}

	p {
		margin-bottom: 1em;
	}

	.content {
		grid-column: 2 / 4;
		max-width: 48ch;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
