---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Steven Chu" description="About Steven Chu Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Clients by Industry"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Agencies</h2>
				<div class="content">
					<ul>
						<li>Alpaca VC</li>
                        <li>August Jackson</li>
                        <li>BarkerNYC</li>
                        <li>Deutsch Inc.</li>
                        <li>DraftFCB</li>
                        <li>Jack Morton Worldwide</li>
                        <li>Ketchum Change / Daggerwing Group</li>
                        <li>Kraftworks NYC</li>
                        <li>Meredith Digital</li>
                        <li>Momentum Worldwide</li>
                        <li>The Lab NYC</li>
					</ul>
				</div>
			</section>
            <section>
				<h2 class="section-title">Consumer</h2>
				<div class="content">
					<ul>
						<li>Disney Vacation Club</li>
                        <li>IKEA</li>
                        <li>Kiehl's</li>
                        <li>Olympus</li>
                        <li>Prevacid</li>
                        <li>Spectrum</li>
                        <li>State Farm</li>
                        <li>UNIQLO</li>
                        <li>USAA</li>
                        <li>Verizon</li>
					</ul>
				</div>
			</section>
            <section>
				<h2 class="section-title">Arts & Design</h2>
				<div class="content">
					<ul>
                        <li><a title="Brian Kish - Mid-Century Italian Design" href="https://briankish.com/" target="_blank" rel="noopener">Brian Kish Inc.</a></li>
                        <li>The Archers Design Group</li>
                        <li><a title="The Temenos Foundation" href="https://thetemenos.org/" target="_blank" rel="noopener">The Temenos Foundation</a></li>
                        <li><a title="TAFFERA Fine Building &amp; Finishes" href="https://tafferainc.com/" target="_blank" rel="noopener">Taffera Fine Building &amp; Finishes</a></li>
                    </ul>
				</div>
			</section>
            <section>
				<h2 class="section-title">Music</h2>
				<div class="content">
					<ul>
                        <li><a title="LadyLand Festival" href="https://ladylandfestival.com/" target="_blank" rel="noopener">LadyFag LadyLand Festival</a></li>
                        <li><a title="Avant Gardner" href="https://www.avant-gardner.com/" target="_blank" rel="noopener">Avant Gardner</a></li>
                        <li><a title="ebb+flow music" href="https://ebbandflowmusic.com/" target="_blank" rel="noopener">ebb+flow music</a></li>
                        <li><a title="United Palace" href="https://unitedpalace.org/" target="_blank" rel="noopener">United Palace</a></li>
                        <li>FNV (Fruits &amp; Vegetables)</li>
					</ul>
				</div>
			</section>
            <section>
				<h2 class="section-title">E-commerce</h2>
				<div class="content">
					<ul>
						<li><a title="SokoGlam - Korean Beauty" href="https://sokoglam.com/" target="_blank" rel="noopener">SokoGlam - Korean Beauty</a></li>
                        <li><a title="Marissa Webb" href="https://marissa-webb.com/" target="_blank" rel="noopener">Marissa Webb</a></li>
                        <li><a title="MONSE Fashion" href="https://www.monse.com/" target="_blank" rel="noopener">MONSE</a></li>
                        <li><a title="Voutsa - The Walls Are Alive" href="https://voutsa.com/" target="_blank" rel="noopener">Voutsa Wallpaper</a></li>
                        <li><a title="Heather Huey - Millinery - Couture Hats" href="https://heatherhuey.com/" target="_blank" rel="noopener">Heather Huey Millinery</a></li>
                        <li><a title="Jussara Lee - West Village" href="https://jussaralee.com/" target="_blank" rel="noopener">Jussara Lee &#8211; West Village</a></li>
                        <li><a title="Virani Jewelers" href="https://viranijewelers.com/" target="_blank" rel="noopener">Virani Jewelers</a></li>
                    </ul>
				</div>
			</section>
            <section>
				<h2 class="section-title">Lifestyle</h2>
				<div class="content">
					<ul>
						<li>Jeffrey Fashion Cares</li>
                        <li>Alison Attenborough</li>
                        <li>Cafe Cluny</li>
                        <li>Cafe Luxembourg</li>
                        <li>The Odeon Restaurant</li>
                        <li><a title="Marie Forleo" href="https://marieforleo.com/" target="_blank" rel="noopener">Marie Forleo</a></li>
                        <li>Sotheby&#8217;s</li>
					</ul>
				</div>
			</section>
            <section>
				<h2 class="section-title">SaaS</h2>
				<div class="content">
					<ul>
						<li><a title="Motif Photos: an iOS an Mac photobook-making app in 32 countries" href="https://motifphotos.com/" target="_blank" rel="noopener">Motif Photos</a></li>
                        <li>Life School</li>
                        <li>GrowthFountain &#8211; Where Capital Flows</li>
                        <li>InstaTechie</li>
                        <li>Morgan & Morgan</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Publications</h2>
				<div class="content">
					<ul>
                        <li><a title="The Economist" href="https://www.economist.com/" target="_blank" rel="noopener">The Economist</a></li>
                        <li><a title="Fitness Magazine" href="https://www.shape.com/fitness" target="_blank" rel="noopener">Fitness Magazine</a></li>
                        <li><a title="Food &amp; Wine Magazine" href="https://foodandwine.com/" target="_blank" rel="noopener">Food &amp; Wine Magazine</a></li>
                        <li><a title="More Magazine" href="https://more.com/" target="_blank" rel="noopener">More Magazine</a></li>
                        <li>Pin-UP Architectural Digest</li>
                        <li><a title="The Wall Street Journal" href="https://online.wsj.com/" target="_blank" rel="noopener">The Wall Street Journal</a></li>

                    </ul>
				</div>
			</section>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	li {
		list-style-type:none;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
