---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import CallToAction from '../components/CallToAction.astro';
import Icon from '../components/Icon.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Resume | Steven Chu" description="Steven Chu Product Designer in Brooklyn, New York - Work experience">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Steven Chu"
				tagline="Product Designer based in Brooklyn, NY"
			>
			</Hero>

            <div class="content cols-3">
                <div>
                    <small>Email</small><br>
                    work@stevenchustudio.com<br>
                </div>
                <div>
                    <small>Phone</small><br>
                    646-450-2809
                </div>
            </div>

			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<h5>Bose</h5>
                    <small>Senior Product Designer, Design Systems, 2024 - Present</small>
                    <p>
						Built design process and development infrastructure (designOps: tools, ways of working, design ethos) at Motif Photos, a mac & iOS photo bookmaking startup offered in 32 countries. Motif is the first consumer venture from the world's largest B2B printer, R.R. Donnelley- a Fortune 500 with 35K employees.
					</p>
                </div>
				<div class="content">
					<h5>Motif Photos</h5>
                    <small>Design Lead (Brand, Web, Marketing), 2018-2023</small>
                    <p>
						Built design process and development infrastructure (designOps: tools, ways of working, design ethos) at Motif Photos, a mac & iOS photo bookmaking startup offered in 32 countries. Motif is the first consumer venture from the world's largest B2B printer, R.R. Donnelley- a Fortune 500 with 35K employees.
					</p>
                </div>
                <div class="content">
					<h5>Uniqlo</h5>
                    <small>Internal UX Consultant, 2017 - 2018</small>
                    <p>
						Developed a coding automation tool through contextual research and service design to help the 6 person team eliminate user error when developing emails, meet production goals, and increase email personalization.
					</p>
                </div>
                <div class="content">    
                    <h5>Marie Forleo</h5>
                    <small>UX Consultant, 2015</small>
                    <p>
						Marie Forleo is a multimillion-dollar online education platform for entrepreneurship endorsed by Oprah & Richard Branson with students in 148 countries and 609+ job industries - I led strategy, information architecture, and wireframing to transform MarieForleo.com from a basic Wordpress blog into a fully-developed learning resource hub which has helped 55,000+ students pursue entrepreneurship. The site format quickly became a template replicated by industry competitors.
					</p>
                </div>
                <div class="content">
                    <h5>Steven Chu Studio</h5>
                    <small>Web Designer, Developer, & Shopify E-commerce Consultant, Sept 2010 - Dec 2017</small>
                    <p>
						Launched and managed Shopify stores for e-commerce brands including: Marissa Webb, former Global Creative Director of Banana Republic and J. Crew; a gold and diamonds jeweler; and consulted for Mary Kate & Ashley Olsen, MONSE, S. Rothschild, and Steven Alan.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<h5>B.S. in Business Administration & Psychology</h5>
                    <small class="i">Haas School of Business</small><br>
                    University of California, Berkeley
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content cols-3">
                    <div>
                        <h5>Tools</h5>
                        Figma<br>
                        Zeplin<br>
                        Notion<br>
                        Airtable<br>
                        Adobe Creative Suite<br>
                        HTML + CSS<br>
                        Liquid<br>
                        Algolia<br>
                        Contentful<br>
                        Github<br>
                        
                    </div>
                    <div>
                        <h5>Methods & Skills</h5>
                        <strong>Strategy & Leadership UX strategy</strong><br>
Design systems<br>
DesignOps<br>
Design thinking<br>
Design leadership<br>
Systems thinking<br>
DesignOps<br>
User research & validation<br>
Cross-functional collaboration<br><br>

<strong>Experience Architecture </strong><br>
End-to-end design<br>
Interaction design<br>
User flows<br>
Information architecture<br>
Responsive design<br>
Accessibility (WCAG)<br><br>

<strong>Execution</strong><br>
Rapid prototyping<br>
Front-end development<br>
Scalable UI architecture<br>
Design documentation<br>
Figma variables<br>
Design tokens<br>

              
                    </div>
					<div>
						&nbsp;
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	h5 {
		color: var(--gray-0);
	}

    ul {
        padding-left: 0;
    }

	li {
		list-style-type: none;
	}

    .cols-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: 2em;
    }

	@media (min-width: 50em) {
		.ctas {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}
	}

	.i {
		font-style: italic;
	}

	p {
		margin: 1em 0;
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
		max-width: 58ch;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
